# Mathematica notebooks

*.nb

# Sublime text

*.sublime-workspace

# VS Code

*.code-workspace

# Files specifically requesting to be ignored

ignoreme.*

# Xcode

xcuserdata/

# macOS

.DS_Store

# Build directory

Build/

# Built paclets

*.paclet
.builtLibSetReplaceHash

# Test results
exit_status.txt
